.popup {
  font-family: "Inter", sans-serif;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;

  z-index: 10;

  transition:
    opacity 0.3s ease,
    visibility 0s linear 0.3s;
}

.popup--opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.popup__content {
  background: white;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;

  padding: 30px 40px 35px;
  border-radius: 12px;

  position: relative;

  transform: scale(0.95);
  opacity: 0;

  transition:
    transform 0.25s ease,
    opacity 0.25s ease;
}

.popup--opened .popup__content {
  transform: scale(1);
  opacity: 1;
}

.popup__title {
  font-size: 22px;
  font-weight: 900;
  margin: 0 0 25px;
}

.popup__title-info {
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  color: #000;
  margin: 0;
  text-align: center;
}

.popup_text,
.link-button {
  font-size: 14px;
  color: blue;
}

.link-button {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 20px;

  border: none;
  border-bottom: 1px solid #ccc;

  outline: none;
  font-size: 14px;
}

.popup__input:focus {
  border-color: #000;
}

.popup__input_type_error {
  border-bottom: 1px solid red;
}

.popup__error {
  color: red;
  font-size: 12px;
  min-height: 15px;
  margin-bottom: 5px;
}

.popup__button {
  width: 100%;
  margin-top: 10px;
  padding: 15px;

  background-color: #2f71e5;
  color: #fff;

  border: none;
  border-radius: 30px;

  font-size: 16px;
  cursor: pointer;

  transition: opacity 0.3s;
}

.popup__button:hover {
  opacity: 0.85;
}

.popup__button_disabled {
  background-color: #e6e6e6;
  color: #bdbdbd;
  opacity: 1;
  cursor: not-allowed;
}

.popup__confirm-button {
  border-radius: 5px;
}

.popup__close {
  position: absolute;
  top: 18px;
  right: 18px;

  background: none;
  border: none;
  cursor: pointer;
}

.popup__close-button {
  font-size: 18px;
}

.popup__caption {
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .popup__content {
    max-width: 450px;
    padding: 25px 30px 30px;
  }

  .popup__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .popup {
    align-items: flex-end;
  }

  .popup__content {
    max-width: 100%;
    border-radius: 20px 20px 0 0;

    transform: translateY(100%);
    opacity: 1;

    transition: transform 0.35s ease;
  }

  .popup--opened .popup__content {
    transform: translateY(0);
  }

  .popup__title {
    font-size: 20px;
  }

  .popup__close {
    top: 15px;
    right: 15px;
  }

  .popup__close-button {
    font-size: 20px;
  }

  .popup__input {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 320px) {
  .popup__title {
    font-size: 18px;
  }

  .popup__button {
    font-size: 15px;
  }

  .popup__close-button {
    font-size: 18px;
  }
}
