.main {
  margin-top: 0;
}

.notice {
  background-color: #f0f0f0; /* Gris claro */
  padding: 20px 0;
}

.notice_type_empty p,
.notice_type_error p {
  text-align: center;
  font-size: 18px;
  color: #666;
  margin: 0;
}

.notice_type_error p {
  color: #d9534f; /* Rojo para error */
}
