.header {
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  padding: 25px;
}

.header--saved-news {
  height: auto;
  color: black;
  background-color: #ffffff;
}

.header--search-news {
  background-image: url("../images/news.jpg");
  background-size: cover;
  background-position: center;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.header--search-news .header__top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.header--saved-news .header__top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.header__title {
  font-family: "Roboto Slab";
  margin: 0;
  font-size: 22px;
}

.nav {
  display: flex;
}

.nav__links {
  display: flex;
  gap: 30px;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  transition: opacity 0.3s;
  padding: 13px 0px;
  color: white;
}

.header--saved-news .nav__link {
  color: black;
}

.header--saved-news .nav__button {
  border: 1px solid #000;
  background: transparent;
  color: black;
}

.nav__link:hover {
  opacity: 0.8;
}

.nav__button {
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.2s ease;
  background: transparent;
  color: white;
  border: 1px solid #fff;
}

.header__menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.header__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  margin-top: 30px;
}

.heading__text-title {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0;
}

.text-break-line {
  display: inline-block;
  width: 100%;
}

.header__mobile-menu {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);

  display: none;
  flex-direction: column;
  gap: 20px;

  padding: 0;

  transition:
    max-height 0.35s ease,
    opacity 0.35s ease,
    transform 0.35s ease,
    padding 0.35s ease;
}

.header_opened .header__mobile-menu {
  max-height: 300px;
  opacity: 1;
  transform: translateY(0);
  padding: 25px 0;
}

.header__mobile-link {
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  color: white;
}

.header--saved-news .header__mobile-link {
  color: black;
}

/* botón mobile */
.header__mobile-button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.header--saved-news .header__mobile-button {
  border: 1px solid black;
  color: black;
}

@media screen and (max-width: 1023px) {
  .nav__links {
    gap: 20px;
  }

  .nav__button {
    padding: 10px 18px;
    font-size: 0.9rem;
  }

  .heading__text-title {
    font-size: 2.8rem;
  }

  .header__menu-btn {
    display: none;
  }

  .header__mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px 20px;
    height: auto;
  }

  .header--saved-news {
    padding: 20px 20px;
  }

  .nav {
    display: none;
  }

  .header__menu-btn {
    display: block;
  }

  .header__menu-btn i {
    font-size: 25px;
    color: white;
  }

  .header--saved-news .header__menu-btn i {
    color: black;
  }

  .header__title {
    font-size: 18px;
    font-weight: normal;
  }

  .header__text {
    margin-top: 25px;
  }

  .heading__text-title {
    font-size: 2rem;
    font-weight: normal;
  }

  .header__menu-btn {
    display: block;
  }

  .header__mobile-menu {
    display: flex;
  }
}

@media screen and (max-width: 544px) {
  .header__menu-btn i {
    font-size: 20px;
  }

  .header__title {
    font-size: 16px;
  }

  .heading__text-title {
    font-size: 1.8rem;
  }

  .header__menu-btn {
    display: block;
  }

  .header__mobile-menu {
    display: flex;
  }
  .header__text {
    text-align: start;
    margin-top: 25px;
  }
}

@media screen and (max-width: 320px) {
  .header__menu-btn i {
    font-size: 20px;
  }

  .header__title {
    font-size: 16px;
  }

  .heading__text-title {
    font-size: 1.8rem;
  }

  .header__menu-btn {
    display: block;
  }

  .header__mobile-menu {
    display: flex;
  }
  .header__text {
    text-align: start;
    margin-top: 25px;
  }
}
